.Intro {
    z-index: 30;

    font-size: 4vmin;

    justify-self: center;

    grid-column: 2 / 4;
    grid-row: 4 / 5;

    color: transparent;

    background-clip: text;

    background-image: linear-gradient(gold, hotpink);

}

.link {
    grid-column: 2 / 4;
    grid-row: 5 /6;

    border: solid 4px;

    justify-self: center;

    text-decoration: none;


}

.text {
    color: white;

    font-size: 3vmin;

    grid-column: 2 / 4;
    grid-row: 3 / 4;

    justify-self: center;
    align-self: center;

    text-align: center;

    z-index: 30;
}

